*{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Arial Black", sans-serif;
    color: white;
}

body {
    background-color: #171920;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.desktopheader {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background: linear-gradient(to top,rgba(0,0,0,0) 10%,rgba(0,0,0,.75)); */
}

.mobileheader {
    display: none;
}

.centerheader {
    display:inline-block;
    padding: 0 165px;
}

.arrowdown{
    height: 8px;
    width: 8px;
    padding: 0 0 0 6px;
}

.left {
    display:inline-block;
}

.right {
    display:inline-block;
}

.logo {
    height: 33px;
    width: auto;

    transform: translate(0px, 35%);
}

nav a{
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding: 0 5px;
    color: #909090;
    /* background-color: red; */
}

.eu {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    /* margin-right: 30px; */
    color: #909090;
    background-color: RGBA(0, 0, 0, 0);
}

.flag {
    width: 30px;
    height: 20px;

    transform: translate(10%, 25%);
}

nav a:hover{
    color: white;
}

.center{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    /* overflow-x:; */
}

.cover {
    /* padding: 10vh 0; */
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.cover h1{
    font-size: 50px;
    line-height: 60px;
}

.news { 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news h1 {
    font-size: 20px;
    color: #909090;
    letter-spacing: 5px;
}

.linediv {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.line {
    flex: 1;
    display:inline-block;
    /* content: ' '; */
    border-bottom: 1.5px solid #5d5d5d;
}

.rectangles {
    padding: 50px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    height: 60vh;
}

.rectangles p{
    font-family: "Arial Black", sans-serif;
    color: white;
    font-size: 28px;
    line-height: 28px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
    padding: 0 0 20px 20px;
}

.rectangles time{
    font-family: "Arial Black", sans-serif;
    color: #CCCCCC;
    font-size: 14px;
    padding-left: 20px;
}

.largerectangle {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    max-height: 55vh;
    background-repeat: no-repeat;
    background-image: url(assets/wide.jpg);
    background-size: cover;
    background-position: center;

    align-items: flex-start;
    justify-content: flex-end;
}

.smallrectangle {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    max-height: 55vh;
    background-repeat: no-repeat;
    background-image: url(assets/square.jpg);
    background-size: cover;
    background-position: center;

    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    
    /* -webkit-mask-image: linear-gradient(to top, transparent 10%, #171920); */
    -webkit-mask-image: linear-gradient(transparent -10%, #171920, transparent 95%);
    background: url("assets/promo_1920.jpg") no-repeat;
    background-position: center;
    background-size: cover;

}

.btnvermelho {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 3px;
    background-color: #cd242b;
    color: white;
    padding: 20px 15px;
    margin: 30px 0 0;
    border: none;
    min-width: 280px;
    align-self: flex-start;

}

.btnvermelho:hover{
    background-color: #E12A31;
}

.loginsection { 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loginsection h1 {
    font-size: 20px;
    color: #909090;
    letter-spacing: 5px;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}

.error-login {
    color: red;
    font: 500 1rem 'Rubik', sans-serif;
    font-size: 20px;
    align-self: center;
    display: none;
}

.login-box p{
    font: 500 1rem 'Rubik', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0 10px 0;
    /* background-color: red; */
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password-input{
    margin-bottom: 20px;
}

input {
    font: 400 1rem 'Rubik', sans-serif;
    font-size: 16px;
    color: black;
    outline: 0;
    border: 0;
    /* border-bottom: 0.05rem solid black; */
    padding: 10px 15px;
}

.submit-btn{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background-color: green;
    color: white;
    align-self: center;
}

.submit-btn:hover{
    background-color: rgb(90, 146, 90);
}

.login-itens {
    /* background-color: blue; */
}

.searchtext {
    display: none;
    flex-direction: column;

    /* width: 100%; */
}
.search-error {
    color: red;
    font: 500 1rem 'Rubik', sans-serif;
    font-size: 20px;
    align-self: center;
    display: none;
    margin-bottom: 15px;
    
}

.searchbar {
    width: 80%;
    margin: 40px;
    align-self: center;
}

.botao-consulta {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background-color: green;
    color: white;
    align-self: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.logout-button {
    display: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background-color: red;
    color: white;
    align-self: center;
    font-weight: bold;
}

.turnvisible {
    display: flex;
}

.turninvisible{
    display: none;
}

.conteudo-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:20px;
}

.resultados-linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label-nome {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
}

.texto-nome {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    align-self: center;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .desktopheader{
        display: none;
    }
    
    .mobileheader{
        display: flex;
        height: 60px;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        color: #909090;
        font-family: "Arial Black", sans-serif;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 4px;
        
    }

    .mobileheader .logo {
        height: 33px;
        width: auto;

        transform: translate(0px, 0px);
        padding-left: 10px;
    }

    .mobileheader .left {
        height: 33px;
    }
    
    .mobileheader .right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menuicon {
        width: 30px;
        height: auto;
        font-weight: bol;
        margin-left: 3px;
        padding-right: 15px;
    }

    .center{
        /* display: none; */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

    .cover {
        display: flex;
        flex-direction: column;
        height: 75vh;
        align-items: center;
        justify-content: center;
    }
    
    .cover h1{
        font-size: 32px;
        line-height: 32px;
    }

    .background{
        background-image: url(assets/promo_540.jpg);
    }

    .news { 
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .news h1 {
        font-size: 15px;
        color: #909090;
        letter-spacing: 5px;
    }
    
    .linediv {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .line {
        align-self: flex-end;
        width: 54%;
        transform: translate(0,-17px);
        height: 1px;
        /* display:inline-block; */
        border-bottom: 1.5px solid #5d5d5d ; 
    }
    
    .rectangles {
        padding: 50px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        height: 60vh;
    }
    
    .rectangles p{
        font-family: "Arial Black", sans-serif;
        color: white;
        font-size: 20px;
        line-height: 28px;
        text-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
        padding: 0 0 20px 20px;
    }
    
    .rectangles time{
        font-family: "Arial Black", sans-serif;
        color: #CCCCCC;
        font-size: 14px;
        padding-left: 20px;
    }
    
    .largerectangle {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-height: 55vh;
        background-repeat: no-repeat;
        background-image: url(assets/wide.jpg);
        background-size: cover;
        background-position: center;
    
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    .smallrectangle {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-height: 55vh;
        background-repeat: no-repeat;
        background-image: url(assets/square.jpg);
        background-size: cover;
        background-position: center;
    
        align-items: flex-start;
        justify-content: flex-end;
    }

}